//@import 'reset';
@import 'colors';
@import 'icons';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

$main-font: 'Source Sans Pro', sans-serif;

.garage-wall-container {
  font-family: $main-font;
  position: fixed;
  height: 100vh;
  width: 300px;
  z-index: 99999;
  background: $light;
  top: 0;
  right: 0;
  text-align: left;
  color: $light;
  font-size: 16px;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: -5px 5px 8px 0 rgba(0, 0, 0, 0.75);
}

.garage-wall-shadow {
  border-radius: 100%;
  position: fixed;
  z-index: 99999;
  top: 8px;
  right: 8px;
  box-shadow: -5px 5px 8px 0 rgba(0, 0, 0, 0.75);
}

#garage-wall {
  .expand-icon {
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    color: $light;
    position: fixed;
    z-index: 99999;
    top: 8px;
    right: 8px;

    &:hover {
      color: $secondary;
      box-shadow: 0 0 0 2px $secondary;
    }
  }

  .drag-handle {
    cursor: ew-resize;
    //top: 6px;
  }

  .icon-wrapper {
    background-color: $primary;
    padding: 16px;
    border-radius: 100%;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 0 0;

    &:hover {
      color: $secondary;
      box-shadow: 0 0 0 2px $secondary;
    }
  }

  .icon-circle {
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 20px;
  }

  .top {
    padding: 8px;

    h3 {
      color: $light;
    }
  }

  .header {
    background-color: $primary;
    -webkit-box-shadow: inset 0px -8px 8px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px -8px 8px -8px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px -8px 8px -8px rgba(0, 0, 0, 0.75);
  }

  .url-part {
    color: $light;
    font-size: 20px;

    &.pattern {
      color: $primary;
    }
  }

  .gw-column {
    display: flex;
    flex-direction: column;
  }

  .gw-row {
    display: flex;
    flex-direction: row;
  }

  .urls {
    padding-right: 8px;
  }

  .space-between {
    justify-content: space-between;
  }

  .space-around {
    justify-content: space-around;
  }

  .align-center {
    align-items: center;
  }

  .gw-item {
    justify-content: space-between;
    padding: 8px;
    padding-bottom: 16px;
    background-color: $medium;
    display: flex;
    flex-direction: column;
    animation: slide 0.5s forwards;
    margin: 0 250px 0 -250px;
    opacity: 0;
    -webkit-box-shadow: inset 0px -8px 8px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px -8px 8px -8px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px -8px 8px -8px rgba(0, 0, 0, 0.75);

    & > * {
      margin-bottom: 8px;
      margin-top: 8px;
    }
  }

  @keyframes slide {
    100% {
      margin-left: 0;
      margin-right: 0;
      opacity: 1;
    }
  }

  .margin-icon {
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    color: $light;

    &:hover {
      color: $primary;
      box-shadow: 0 0 0 2px $primary;
    }
  }

  .icon-orange {
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    color: $light;

    &:hover {
      color: $secondary;
      box-shadow: 0 0 0 2px $secondary;
    }
  }

  .request-number {
    position: absolute;
    right: -4px;
    bottom: -4px;
    background-color: $dark;
    color: $light;
    width: 24px;
    line-height: 24px;
    border-radius: 50%;
    text-align: center;
    font-family: $main-font;
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: $secondary;
    color: $light;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 135%;
    font-size: 16px;
    font-style: normal;
    transform: scale(1);
  }

  .tooltip .tooltiptext::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent $secondary;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .tab {
    width: 100%;
    text-align: center;
    background-color: $primary;
    box-shadow: inset 0px -8px 8px -8px rgba(0, 0, 0, 0.75);
    padding: 8px;
  }

  .selected {
    background-color: $medium;
  }
}
